---
title: Communication
icon: fa-user
order: 0
---
<br>
Communication is very important in a group project.
According to the agile principles, the most efficient and effective method of conveying information to and within a development team is face-to-face conversation.
This is why we tried to always communicate face to face. This wasn’t always realistic during our project. So we had to find different ways to communicate. 
<p></p>
The main forms of communication used during the project were:
<p></p>
<ul>
<li>Scrums and Sprint Planning</li>
<li>Slack</li>
<li>Client Communication</li>
</ul>
<p></p>
<h3>Scrums and Sprint Planning</h3> 
<p></p>
<h4><u>Thinking</u></h4>
<p></p>
The only class our entire group had together was Software Engineering. This meant we only saw each other twice a week. This is why we decided to have a scrum each time we met up. We wanted to know what everyone had been doing, and what they were planning on doing next.

This gave us the opportunity to discuss problems and work out potential solutions.

We also had informal scrums during the rest of the week. If I saw someone in our group, I always asked how things were going with their user stories. We tried to keep in touch as much as possible, because face to face conversations are the best way to convey information. 
<p></p>
Any issues that couldn’t wait until our next official scrum could be talked about and potentially solved. 

Communication is very important, because if you don’t know someone needs help you can’t help them. This is why I always made an effort to find out how the rest of my group was going, and offer them help.

At the start of each sprint, we used our scrums to also plan our sprints. We would then email our client and get their approval on the user stories in our sprint.
<p></p>
<h4><u>Reflection</u></h4>
<p></p>
Our use of scrums helped us communicate very well as a group. Most of the time we all knew what the rest of our group was working on, and everyone was happy to ask for help if they needed it.
The constant communication helped us work better as a team.
<p></p>
We could have improved having every group member involved in the communication process. If a member didn’t come to class, we wouldn’t know how they were doing or if they needed help.

I think we could have had more official scrums per week. We tried to solve this by having unofficial scrums when we saw someone in our group, but we didn’t always see everyone. Next time I would want to meet up 3 or 4 times a week, so they are more chances for the entire group to communicate.
<p></p>
It would have been great to include our client in our scrum meetings. This wasn’t realistic for our project because our client was a volunteer, but we should have had someone playing the product owner role. This would have helped us make sure we were actually doing tasks that would be of value of the client.

Next time I would want to include the client in our scrums more, or have a different person playing the product owner role in each scrum.

<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
Every time we had a Software Engineering class we would get our group together and stand up and have a scrum. Here is a picture of one of our many scrums.

<p></p>
<img src="assets/images/scrum.jpg" alt="" />
<p></p>
Scrums helped me learn the more communication the better. It was great to have a structure to our group meetings. I tried to be the scrum master and make sure we followed the scrum process correctly. Standing up, talking about what we had been working on and planned to work on gave us the information we needed to know how well our current sprint was going. 
<p></p>

<h3>Slack </h3> 
<p></p>
<h4><u>Thinking</u></h4>
<p></p>
Our team decided to set up a slack channel for extra communication. We did this because it wasn’t realistic to have every conversation face to face. There were some discussions were better had on a messaging platform. We would plan group meetings over slack, talk about small issues, and provide links to potential solutions and useful websites. Remembering what had been discussed was sometimes difficult, so having a place to store information we could look back on was very useful.
<p></p>
I tried to always inform my group when I had completed something. I did because sometimes my completion of work would affect others. This was very useful for letting the group know I had merged to the development branch on git. This way, everyone would know to merge development into their branch before continuing work. 

This worked both ways, and I made sure to check Slack before starting work on my features.
<p></p>
<h4><u>Reflection</u></h4>
<p></p>
Slack was very useful for our groups communication. Most of the time we would be working independently, and having the ability to communicate with our group from home meant we were more efficient. This stopped us from having to wait until our next meeting, because sometimes problems could be solved in a few messages.

I found Slack useful for updating my group on my progress, and checking the rest of the groups progress. <p></p>Everyone in our group contributed to the Slack conversation, and no one went overboard and filled it with too much.

I could have been better at replying to my group more quickly. The notifications on my phone are broken so I didn’t immediately see when every message was sent. I could have helped people more if I had seen their messages earlier. Next time I will make sure to fix notifications so I can be more help to my group.


<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
Slack has helped me learn that not all problems or questions need to happen face to face. People have different work habits, and being able to communicate outside of group meetings can increase the group’s efficiency.


Here is a picture of a small portion of my contribution to our slack channel.
<p></p>

<img src="assets/images/slack.PNG" alt="" />
<p></p>
<h3>Client Communication</h3> 
<p></p>
<h4><u>Thinking</u></h4>
<p></p>

We only had two client meetings throughout or project. This was because our client is a volunteer, and we didn't want to take up too much of their time. The first meeting was our group meeting the client for the first time, and learning about the project. We met with the client in person, so we could get a full scope of the business problem. We met as a group beforehand, and planned the questions we would ask our client. 

<p></p>
The second meeting was after our second sprint, and we showed our client our prototype and clarified user stories, and explained the agile process. We also got the client’s input on what we should be focusing on in our sprints. We explained the agile process to our client, so they could understand how we would aim to complete the project. We wanted our client to understand our process, so they could feel a part of the process and help us make decisions.
<p></p>

The rest of the project we communicated with the client through emails. We update our client on our progress and discuss which user stories we should prioritise in each sprint. 

<p></p>
<h4><u>Reflection</u></h4>
<p></p>
Our first meeting with the client went very well, and we got the information we wanted about the business problem. We spent the whole time asking our client questions, but we forgot to give our client information about how we would approach the project.

In our second meeting, we explained the agile process, user stories, and sprints to our client. It improved the relationship between our group and the client, and gave them some control in what we were doing.
<p></p>
Our meetings with the client were very useful. We were very good at asking the right questions and getting more user stories and information from our client. We could have improved on the information we gave our client.

We should have explained our process to the client during the first meeting. Because we didn’t do this, our communication with the client during the start of the project wasn’t great. We sent the occasional email about our progress, but they didn’t understand our sprint process. So when we asked for approval on our current sprint, they didn’t understand what we were asking.

After our second meeting, our overall communication with the client improved. Our client understood our process, and helped us pick which user stories we should prioritise. 
<p></p>
Towards the end of the project our communication with the client slipped again. Some of our user stories didn’t get completed in a sprint, and we had to continue with them in the next sprint. We didn’t contact our client and tell them this, because we felt like we had nothing to update.

Next time I would aim to explain our agile process to the client at the start of the project. I would also email the client once a week, with an update, and inform them if we couldn’t get a user story completed in the sprint. I would ask if they think we should continue with that user story, and if it is a priority.

<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
I learned that communication is a two way process. Business people and developers must work together daily throughout the project. This means including the client in the decision making process. We improved at this as the project went on. Here is a screenshot of one of our emails trying to include our client in the decision making process.
<p></p>
<img src="assets/images/email.png" alt="" />
<p></p>
We got a lot of information from our client during the project. Here is a screen shot of our notes from our second meeting with the client. It shows the information we got, which we then turned into user stories.
<p></p>
<img src="assets/images/meeting_notes.png" alt="" />
<p></p>
