---
title: Leadership
icon: fa-user
order: 1
---
Our group was mostly naturally organising, but I feel I was a leader in certain aspects of the project.
<p></p>
<h4><u>Thinking</u></h4>
<p></p>

When it came to scrums, I took charge and was the scrum master. I made sure we did a scrum every time we met up. 
I did this because I knew the scrum structure would help the group talk about their progress. When discussing our plans I tried to take charge and ask what everyone thought, I had my own ideas but I wanted everyone to contribute.
<p></p>
I was also a leader when it came to using git workflow correctly. I helped members learn how to branch and merge correctly. We had some issues on the way, but by the end of the project we were all using git correctly.
<p></p>
<h4><u>Reflection</u></h4>
<p></p>
I think that if I hadn’t lead our use of scrum correctly, we wouldn’t have communicated as well as a team. When we had our meetings in class, we always started off unsure how what to do. Once we had finished our scrum, everything seemed to flow naturally.

I think I was a good leader in the scrums, sprints, and group meetings. I tried to involve everyone in the decision making. Sometimes during our sprints we had user stories that weren’t being completed. 

Next time I will try and help out with the assigning of tasks more. If people were struggling with a user story over a period of time, I would try find out the reason they were struggling, and help them.
<p></p>

Our git workflow started off badly. At the beginning we working off master, and had no branches. Then we started a development branch, and started branching off it. This improved our workflow dramatically. 
<p></p>
We had some issues when it came to using git correctly. There were times when we came to merge our branches and we had lots of conflicts. This is because somebody had copy and pasted code in their branch. We resolved this issue by going through each conflict, and picking the correct file.
<p></p>
After this major conflict issue, we started merging from development every time we worked on our files. We communicated more about merging and everything went a lot smoother.

Next time I will try and make sure everyone knows how to use correct git workflow from that start.
I will get a discussion going about the guidelines we should follow, so everyone knows what to do.

<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
Here is a small section of our git commit graph. This shows we went from working on one branch to multiple:
<p></p>
<img src="assets/images/branches.png" alt="" /></a>

