---
title: Team work
icon: fa-user
order: 2
---
Working well as a team is essential in a group project. I think I was a good team member and contributed a lot to the project.
<p></p>
<h4><u>Thinking</u></h4>
<p></p>
I think I was a good group member because I did my fair share of the work.  I wanted my group to succeed so I tried really hard to get all my tasks finished and get them finished promptly. 
At times during the project I had to slow down and give the rest of my group something to do. I didn’t want them to have nothing to put on their portfolio, so I focused on helping group.
<p></p>I helped Connor with the adding new fields to the select boxes on the add sea lion page. He had the basics working and just needed help implementing it with Firebase. We worked on that together and got it working.
Fawaz was having an issue with getting the Sea Lions to display in the modal. We worked together and fixed it.
I tried to always be available to help my team, and I tried to have a balanced work load. 
<p></p>
<h4><u>Reflection</u></h4>
<p></p>
I think I did too much work during the project. At times I made it hard for other group members to find something to do. To improve I would focus on doing a better job at my users stories, rather than just completing them. If I had coded in a way that was more readable and understandable, it would have helped my team members be more efficient.
<p></p>
I think that I was great at helping other group members when they needed it. It helped us finish some user stories that were taking too long.  I should have started helping earlier though. If I had helped from an earlier stage, we might have got more user stories completed. 
<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
Commit showing me helping Connor with dropdowns:
<p></p>
<img src="assets/images/dropdown.png" alt="" /></a>
<p></p>
Commits showing me help Fawaz with modal:
<p></p>
<img src="assets/images/modal.png" alt="" /></a>
<p></p>




