---
title: Time management
icon: fa-user
order: 3
---
<br>
Time management is very important in a group project. Kanban, sprints, and user stories are an effective way of prioritising tasks so everything can get completed on time.
<p></p>
<h4><u>Thinking</u></h4>
<p></p>
I think that as a group our time management could have been improved. We didn't utilise the power of Kanban well enough. We had our Kanban board on gitlab, but I don't think we used it effectively. At the start of each sprint, we decided which user stories to do, and we created milestones to simulate our sprints. We assigned user stories to our milestones, but we didn't assign the tasks to group members. We didn't update the Kanban board during the sprint, and became lazy near the end of the project.
<p></p>
Even though we didn't use the Kanban board effectively, I still think I managed my time well throughout the project. I consistently worked on the project throughout the semester, and I think I achieved a lot. Each day of the week I worked on one of my classes. I find that it's hard to switch from language to language, and this semester each of my classes are in a different language. I usually completed most of my work for this paper on a Tuesday night. This is because my last class of the day on a Tuesday was software engineering. This always got me in the JavaScript and Firebase mind-set, and I would work until I got my tasks completed.
<p></p>
<h4><u>Reflection</u></h4>
<p></p>
I think that if we had better documentation on who was working on what, and when we aimed to complete it, we would have completed more user stories.

I should have tried to get the group using the Kanban board more. To do this I could have used it more myself, which would have motivated the rest of my group to use it too.

Next time I will try encourage and motivate myself and my group to use the Kanban board more effectively. To do this is will make sure I update it every time I work on the project.

I think the way I manage my own workload works very well for me. Sometimes I work to long on a problem and can't solve it. I keep working at it and achieve nothing. I need to learn to take a break.
<p></p>
<h4><u>Evidence of Learning</u></h4>
<p></p>
These graphs of my different account commits show my consistent contribution the project.
<p></p>
<img src="assets/images/commits.png" alt="" />

<img src="assets/images/commits2.png" alt="" />

<img src="assets/images/commits3.png" alt="" />
<p></p>
The daily contribution graph shows that the day I aimed to complete my work is the highest contribution day.
<p></p>
<img src="assets/images/commitgraph.png" alt="" />
